[Unit]
Description=Provides user-level OnlyKey app GUI activation

[Service]
ExecStart=/opt/OnlyKey/nw
Type=simple

[Install]
WantedBy=default.target
